body {
	background-color: #000;
	font: 75% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	text-align:center;
}

a {
	color:#fff;
	text-decoration:none;
}

.streaming {
	width:1000px;
	margin: 0 auto;
}

.stream {
	float:left;
	width:250px;
	margin-bottom:5px;
}
